body  {
  margin: 0;
  padding: 0;
  
  height: 100vh;
}

li a:hover {
	text-decoration: none;
}

li a {
	color: #212529;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -75px;
}


#menu {
  height: 100vh;
  
  
  
}

.itens {
  padding-left: 5px;

}

.tabela {
  height: 100vh;
  display: flex;
}

#filtro {
  display: flex;
  float: right;
  
}
#tabela a{
  text-decoration: none;
  text-decoration-color: black;
  margin: 3px;
  color:black;
  border: 1px solid #212529;
  padding: 2px;
  border-radius: 10%;

}

#tabela a:hover {
  background-color: black;
  text-decoration: #EAEAEA;
  color:#EAEAEA;
  margin: 3px;
  padding: 2px;
}




