html, body  {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#menu ul li{
  list-style: none;
  margin-bottom: 2px;



}

#menu ul li a {
	color: #212529;
  margin-left: 5px;

}
li a:hover {
	text-decoration: none;

}
#nav-lat {
  text-align: start;
}




#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -75px;
}




.itens {
  padding-left: 5px;

}



.tabela {
  height: 100vh;
  display: flex;

}

#form-filtro {
  display: none;
}



